html {
      Height: 100%;
      background: url(https://www.jpl.nasa.gov/assets/images/content/tmp/home/missions_bg_image.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      }
body header {
        color: white;
        text-align: center;
        font-size: 25px;
            }
nav ul li {
        display: inline-block;
        font-size: 25px;
        margin-right: -350px;
        margin-left: 450px;
          }
          nav ul li a{
            color: #753ade;
          }
          nav ul li a:hover{
            color: #00ff00;
          }
          nav ul li a:active{
            color: #00ff00;
          }
header  {
        color: white;
        display: center;
        }
section {
      display: inline-block;
      margin-left: 50px;
      margin-right: 50px;
      color: white;
}
section li {
        display: inline-block;
        color: white;
        margin-left: 100px;
        margin-right: 100px;
}
section li img {
          width: 200px;
          height: 150px;
}
#bot section {
        display: inline-block;
        color: white;
        margin-left: 150px;
        margin-right: 100px;
}
